* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
select {
  font-size: 18px;
  padding: 10px 8px;
  border-radius: 5px;
}
.content {
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}
